<div class="side-bottom">
  <%= form_with(url: search_tags_path, local: true, method: :get, class: "search-form") do |form| %>
    <%= form.text_field :keyword, placeholder: "タグを検索する", class: "search-input" %>
    <%= form.submit "検索", class: "search-btn" %>
  <% end %> 

  <div class="side-bottom-content">
    <div class="side-describe">
      <%= "最新5件のルーム"%>
    </div>
    <% @latest.each do |room| %>
      <ul class='side-room-lists'>
          <li><%= link_to room_messages_path(room.id), method: :get do %></li>
            <%= room.title %>
          <% end %>
          <%room.tags.each do |tag| %>
            #<%=tag.name%>
          <%end%>
      </ul>
    <% end %>
  </div>
</div>