<div class='header'>
  <div class='side_bar'>
    <div class="side-header">
      <div class="side-header-top">
        <%= link_to "TOP", root_path %>
      </div>
      <div class="side-header-create">
        <%= link_to "Room作成", new_room_path %>
      </div>
    </div>
  </div>

  <div class="main-header">
    <div class="main-header-content">
      <% if @room.present? %>
        <%= @room.title %>
      <% elsif @user.nil?%>
        <%= "新着ルーム一覧" %>
      <% else %>
        <%= "ユーザー情報" %>
      <% end %>
    </div>

    <%= form_with(url: search_tags_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "タグを検索する", class: "search-input" %>
      <%= form.submit "検索", class: "search-btn" %>
    <% end %> 

    <div class="user-connection">
      <ul class='lists-right'>
        <% if user_signed_in? %>
          <li><%= link_to current_user.nickname, user_path(current_user.id), class: "user-name" %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
       <% else %>
          <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
          <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
       <% end %>
      </ul>
    </div>
  </div>
</div>